
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h4 style="color:red; text-align:center">  @ViewData["TK"] @ViewBag.ThongBao</h4>
<table align="center">
        <h2 style="text-align:center">Đăng nhập tài khoản</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px">
                <td>Tên Tài Khoản: </td>
                <td>
                    @Html.TextBox("Taikhoan")
                    @ViewData["Loi_1"]
                </td>
            </tr>
            <tr style="height:40px">
                <td align="right">Mật Khẩu: </td>
                <td>
                    @Html.Password("Matkhau")
                    @ViewData["Loi_2"]
                </td>
            </tr>
            <tr style="height:40px">
                <td></td>
                <td><input type="submit" name="Đăng nhập"/></td>
            </tr>
    }
    </table>

