
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<table align="center">
    <h2 style="text-align:center">Đăng ký tài khoản</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td style="padding:30px">Họ tên:</td>
            <td style="color:black">@Html.TextBox("HoTen")</td>
            <td style="color:white; padding:10px">@ViewData["Loi_1"]</td>
        </tr>
        <tr style="height:40px">
            <td style="padding:30px">Tên Tài Khoản:</td>
            <td style="color:black">@Html.TextBox("Taikhoan")</td>
            <td style="color: white; padding: 10px">@ViewData["Loi_2"]</td>
        </tr>
        <tr style="height:40px">
            <td style="padding:30px">Mật khẩu:</td>
            <td style="color:black">@Html.Password("Matkhau")</td>
            <td style="color: white; padding: 10px">@ViewData["Loi_3"]</td>
        </tr>
        <tr style="height:40px">
            <td style="padding:30px">Nhập lại mật khẩu:</td>
            <td style="color:black">@Html.Password("Nhaplaimatkhau")</td>
            <td style="color: white; padding: 10px">@ViewData["Loi_4"]</td>
        </tr>
        <tr style="height:40px">
            <td style="padding:30px">Điện thoại:</td>
            <td style="color:black">@Html.TextBox("Dienthoai")</td>
            <td style="color: white; padding: 10px">@ViewData["Loi_5"]</td>
        </tr>
        <tr style="height:40px">
            <td style="padding:30px">Email</td>
            <td style="color:black"><input type="email" id="email" name="email"></td>
            <td style="color: white; padding: 10px">@ViewData["Loi_6"]</td>
        </tr>
        <tr style="height:40px">
            <td style="padding:30px">Địa chỉ:</td>
            <td style="color:black">@Html.TextBox("Diachi")</td>
            <td style="color: white; padding: 10px">@ViewData["Loi_7"]</td>
        </tr>
        <tr style="height:40px">
            <td style="padding:30px">Ngày sinh:</td>
            <td style="color:black"><input type="date" name="Ngaysinh" /></td>
            <td style="color: white; padding: 10px">@ViewData["Loi_8"]</td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td style="color:black"><input type="submit" name="Dangky" /></td>
        </tr>
    }
</table>
