<style type="text/css">
    #Datmua a{
        clear:both; background-color:red;
        color:white; width:150px; height:35px;
        display:block; float:right; text-align:center;
        padding-top:0px; text-decoration:none; font-weight:bold;
    }
    #Datmua a:hover{
        background-color:limegreen;
        color:red;
    }

    #Muonmua a {
        clear: both;
        background-color: red;
        color: white;
        width: 350px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 0px;
        text-decoration: none;
        font-weight: bold;
    }

        #Muonmua a:hover {
            background-color: limegreen;
            color: red;
        }

</style>
@{
    ViewBag.Title = "ChiTietSanPham";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Chi Tiết Sản Phẩm</h2>
<div>
    <div style="width:60%; float:left; border-left:dotted 1px; border-color:azure">
        <img src="~/images/@Model.Anhbia" width="50%" />
    </div>
    <div style="width:60%; float:left; padding:10px">
        <h4 style="font-weight:bold; color:red"> Tên Sản Phẩm: @Model.TenSP </h4>
        <p style="text-align:justify"><span style="font-weight:bold">Mô Tả: </span> @Model.Mota</p>
        <p style="font-weight:bold">Giá: <span style="color:red;font-size:16pt"> @Model.Giaban VNĐ</span></p>
    </div>
    <div>

        @if (Session["Taikhoan"] == null)
        {
            <div id="Muonmua">
                <a href="@Url.Action("Dangnhap", "User", new {id =@Model.MaSP,@strURL=Request.Url.ToString() }) " class="list-group-item">
                    Đăng nhập để mua
                </a>
            </div>
        }
        else
        {
        <div id="Datmua">
            <a href="@Url.Action("ThemGiohang", "Giohang", new {id =@Model.MaSP,@strURL=Request.Url.ToString() }) " class="list-group-item">
                Đặt Mua
            </a>
        </div>
        }

           
        </div>
