@using Webphukien.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SANPHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Chào mừng bạn đến với ShopPhuKien của chúng tôi !</h2>
<h3 style="text-align:center; color:red"> Top Sản Phẩm</h3>


<div class="row">
@foreach( var sapxeptheogia in  Model)
    {

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <a href="@Url.Action("Chitietsanpham", "WebPhuKien", new { id = sapxeptheogia.MaSP})">
                            <img alt="@sapxeptheogia.TenSP" src="~/images/@sapxeptheogia.Anhbia" width="200"/>
                            <div>
                                <br />
                                <h4 style="text-align:center">
                                    @sapxeptheogia.TenSP
                                </h4>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 Nhận xét</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                    </div>
                </div>
    }
    Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page=>Url.Action("Index",new {page=page}))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
